<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
  package="com.ulling.lib.core">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!--        <meta-data-->
        <!--            android:name="android.support.VERSION"-->
        <!--            android:value="26.1.0"-->
        <!--            tools:replace="android:value" />-->


    </application>

</manifest>
